.naviWrapper {
  height: 76px;
}
.navi {
  height: 60px;
}
.naviList {
  height: 76px;
  display: flex;
  gap: 12px;
}
.naviListLink {
  /* height: 40px; */
}
.naviListLink:hover,
.naviListLink:focus {
  color: var(--second-color);
  transform: scale(1.1);
  text-shadow: ;
}
.navilistlink:link,
.naviListLink:visited {
  color: var(--gray);
}
.naviListItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}
.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--gray);
  border-radius: 4px;
}
